# 1. Ignoruj wszystkie pliki i foldery w katalogu głównym
/*

# 2. Pozwól na śledzenie samego pliku .gitignore
!.gitignore

# 3. Wyjątki dla plików .py, które chcesz zostawić
!pnp.py
!ocena3.py
!ocena3float64.py
!ocena4.py
!ocena5.py

# 4. Wyjątek dla folderu data (wraz z całą zawartością)
!data/